.tablero{
   border: solid 1px;
   cursor: pointer;
   box-sizing: border-box;
   font-size: 2em;
}

.titulo{
    text-align: center;
    box-shadow: none;
}

h2{
    margin-top: 8px;
}

button{
    margin-top: 8px;
}

.contadorPuntos{
    display: flex;
    p{
        width: 50%;
        text-transform: uppercase;
    }
}
